footer {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    max-width: 100vw;
    margin: auto;
    border-bottom: 1px solid #EEEEEE;
    font-size: 18px;
    padding: 0px 10px;
}

.navigation .link{
    padding: 10px;   
}

.navigation .link.active{
    background-color: #EEEEEE;
    border-radius: 5px;
}